<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

  <div>
    <form action="/change-password" method="POST">
      <label for="CurentPassword">curent password:</label>
      <input type="text" name="curentPassword" id="curentpassword" required>
      <label for="NewPassword">New password:</label>
      <input type="text" name="newPassword" id="newPassword" required>
      <label for="Password">Repeat new password:</label>
      <input type="text" name="repeatNewPassword" id="repeatNewPassword" required>
      <button>Submit</button>
    </form>
  </div>
  
</body>
</html>