<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

  <div>
    <label for="UserName">نام کاربری:</label>
    <input type="text" name="username" id="username" required>
    <label for="Password">کلمه عبور:</label>
    <input type="text" name="password" id="password" required>
    <button>ورود</button>
  </div>

  <h4>اگر  حساب کاربری ندارید برای ایجاد حساب کاربری اینجا  <a href="/sign-up">کلیک</a> کنید.</h4>
  
</body>
</html>