<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

  <!-------------------------
     form section 
  -------------------------->
  <div class="d-flex form-style">

    <!-------------------------
     form right section 
    -------------------------->
    <div class="form-right-side container-fluid col-12 col-lg-6">
      <h3 class="title-of-form-login">ورود</h3>
      <form id="login">
        <div class="form-group">        
          <label for="UserName">نام کاربری:</label>
          <input class="form-control" type="text" autocomplete="off" name="username" id="username" required>
        </div>

        <div class="form-group">
          <label for="Password">کلمه عبور:</label>
          <input class="form-control" type="password" autocomplete="off" name="password" id="password" required>
        </div>
        
        <div class="d-grid">
          <button class="btn btn-primary btn-block">ورود</button>
        </div>
      </form>

      <!-------------------------
        link for sign-up page
      -------------------------->
      <h4>اگر  حساب کاربری ندارید برای ایجاد حساب کاربری اینجا  <a href="/sign-up">کلیک</a> کنید.</h4>
    </div>

    <!-------------------------
     form left section 
    -------------------------->
    <%- include("./partials/formImg.ejs") %>
  </div>

  <script>
    const form = document.getElementById("login");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;


      const result = await fetch("/api/login", {
        method: "POST",
        headers: {
          "content-type" : "application/josn"
        },
        body: JSON.stringify({
          username,
          password
        })
      })
        .then(res => res.json());  

      if(result.status === "ok") {
        localStorage.setItem("token", result.data);
        alert("Successfull");
      } else {
        alert(result.error);
      }
    })
  </script>
  
</body>
</html>