<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

  <div>
      <form action="/sign-up" method="POST">
        <label for="UserName">Email:</label>
        <input type="text" name="email" id="email" required>
        <label for="UserName">User name:</label>
        <input type="text" name="username" id="username" required>
        <label for="Password">Password:</label>
        <input type="text" name="password" id="password" required>
        <button>Submit</button>
      </form>
  </div>
  <h4>If you already have an acount please click <a href="/login">here</a> to login</h4>

</body>
</html>