<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

  <div class="d-flex form-style">

    <div class="container-fluid col-sm-6">

      <form action="/sign-up" method="POST">

        <div class="form-group row">
          <label for="UserName">ایمیل:</label>
          <input class="form-control" type="text" name="email" id="email" required>
        </div>

        <div class="form-group row">        
          <label for="UserName">نام کاربری:</label>
          <input class="form-control" type="text" name="username" id="username" required>
        </div>

        <div class="form-group row">
          <label for="Password">کلمه عبور:</label>
          <input class="form-control" type="text" name="password" id="password" required>
        </div>
        
        <div class="d-grid row">
          <button class="btn btn-primary btn-block">ثبت نام</button>
        </div>

      </form>

      <h4>اگر از قبل دارای حساب کاربری می باشید اینجا  <a href="/login">کلیک</a> کنید.</h4>
    </div>

    <div class="col-sm-6">
      something
    </div>
  </div>


</body>
</html>