@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Yekan.woff);
}

* {
  font-family: myFirstFont !important;
}

html {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #181818;
}

body {
  border-radius: 50px;
}

.form-style {
  padding: 0;
  position: relative;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  height: 650px;
  width: 75vw;
  box-shadow: -11px 14px 10px black;
}

.form-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  display: none;
}


.form-right-side {
  padding: 0;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}


label {
  font-size: 15px;
  margin: 10px 0;
}

h4 {
  font-size: 15px !important;
  margin-top: 20px;
}

button.btn.btn-primary.btn-block {
  margin: 25px 0;
}

.title-of-form-sign-up {
  position: absolute;
  top: 10%;
  right: 35%;
}

.title-of-form-login {
  position: absolute;
  top: 10%;
  right: 45%;
}


@media only screen and (min-width: 992px) {
  .form-img img {
    position: relative;
    display: block;
    border-radius: 40px 0 0 40px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .title-of-form-sign-up {
    right: 16%;
  }
  
  .title-of-form-login {
    right: 22%;
  }
  
}
